h3.warranty-text-grey Термины и определения:
dl
  dt
    b Потребитель/покупатель&nbsp;
  dd.
    &mdash; лицо, приобретающее или использующее товар исключительно для личных, семейных, домашних и&nbsp;иных нужд, не&nbsp;связанных с&nbsp;осуществлением предпринимательской деятельности;
dl
  dt
    b Продавец&nbsp;
  dd.
    &mdash;&nbsp;организация независимо от&nbsp;её&nbsp;организационно-правовой формы, а&nbsp;также индивидуальный предприниматель, реализующие товары потребителям по&nbsp;договору купли-продажи;
dl
  dt
    b Сервисный центр&nbsp;
  dd.
    &mdash;&nbsp;организация независимо от&nbsp;её&nbsp;организационно-правовой формы, а&nbsp;также индивидуальный предприниматель, осуществляющий гарантийное или платное обслуживание товаров. Сервисный центр не&nbsp;является аффилированной организацией продавца и&nbsp;не&nbsp;несёт ответ;
dl
  dt
    b Товар/Электротранспорт&nbsp;
  dd.
    &mdash;&nbsp;вид транспорта, использующий в&nbsp;качестве источника энергии электричество, в&nbsp;качестве привода электродвигатель. В&nbsp;соответствии с&nbsp;техническими характеристиками электротранспорт является технически сложным товаром. Товар входит в&nbsp;Перечень непродовольственных товаров надлежащего качества, не&nbsp;подлежащих возврату или обмену на&nbsp;аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации, утверждённому постановлением Правительства российской Федерации от&nbsp;#[time(datetime='1998-01-19') 19.01.1998] &#8470;&nbsp;55;
dl
  dt
    b Категория товара&nbsp;
  dd.
    &mdash;&nbsp;подвид товара, имеющий отдельные критерии и&nbsp;характеристики относительно потребительских качеств.
dl
  dt
    b Правила эксплуатации хранения транспортировки
  dd.
    &mdash;&nbsp;требования обязательные к&nbsp;соблюдению при пользовании товаром;
dl
  dt
    b Идеальные условия эксплуатации&nbsp;
  dd.
    &mdash;&nbsp;рекомендованные продавцом и/или производителем условия эксплуатации товара при которых может быть достигнута максимальная среднестатистическая производительность электротранспорта (максимальная скорость, максимальный пробег при полном заряде аккумулятора, скорость торможения);
dl
  dt
    b Гарантийный срок&nbsp;
  dd.
    &mdash;&nbsp;срок, при котором продавец осуществляет гарантийное обслуживание эректротранспорта;

h3.warranty-text-grey Категории товара и&nbsp;их&nbsp;технические характеристики:
//- Table
p
  b.
    Данные характеристики рассчитаны без учёта субъективных дорожных условий, при учёте не&nbsp;превышения потребителем грузовой нагрузки электротранспорта. Продавец не&nbsp;отвечает за&nbsp;неудовлетворение субъективных ожиданий покупателя от&nbsp;применения приобретённого товара. Указанные характеристики применяются к&nbsp;конкретной категории товара если иное прямо не&nbsp;указанно производителем.
p.
  #[strong Внимание!] &mdash;&nbsp;перед началом эксплуатации устройства необходимо обязательно ознакомиться с&nbsp;инструкцией по&nbsp;эксплуатации.

h3 Правила эксплуатации
b 1. Зарядка
p.
  Напряжение питания зарядного устройства электротранспорта&nbsp;&mdash; 220&nbsp;вольт. Сетевые скачки напряжения могут повредить электронные системы его защиты, поэтому правилами эксплуатации #[strong ЗАПРЕЩАЕТСЯ] заряжать устройство без применения дополнительной защиты&nbsp;&mdash; стабилизаторов напряжения и&nbsp;оставлять его без присмотра. Время зарядки батареи составляет разный период у&nbsp;разных моделей, так как зависит от&nbsp;ёмкости аккумулятора. Для более точной информации вы&nbsp;обязаны ознакомиться с&nbsp;книжкой эксплуатации, которую вы&nbsp;получили при покупке. Заряд аккумулятора электротранспорта рекомендуется поддерживать на&nbsp;уровне не&nbsp;ниже 40%. Нельзя допускать систематический полный разряд аккумулятора.
p.
  Зарядка аккумулятора должна производится в&nbsp;том числе в&nbsp;случаях когда аккумулятор заряжен менее чем на&nbsp;40%, в&nbsp;противном случае это может привести к&nbsp;преждевременному выходу из&nbsp;строя аккумулятора. Не&nbsp;оставляйте электротранспорт с&nbsp;разряженной батареей. Если он&nbsp;долго будет стоять не&nbsp;заряженный, то&nbsp;это может привести к&nbsp;выходу из&nbsp;строя батареи. Каждые две недели нужно заряжать электротранспорт хотя-бы один раз. Аккумуляторы этого типа (литий-ионные) не&nbsp;предназначены для низких температур. Это продлит срок службы аккумулятора. Использование электротранспортом при зарядке запрещено. В&nbsp;процессе использования максимальный заряд аккумулятора неизбежно сокращается.
b 2. Использование:
p.
  Запрещается управление самокатом без защитной экипировки. Запрещается управление электротранспортом лицами не&nbsp;достигших 14&nbsp;лет, беременным женщинам и&nbsp;инвалидам. Запрещается управление электротранспортом в&nbsp;состоянии алкогольного, наркотического опьянения, а&nbsp;так&nbsp;же под действием препаратов замедляющих реакцию водителя. Электротранспорт не&nbsp;предназначен для передвижения по&nbsp;дорогам предназначенных для автомобилей.
p.
  При езде стоя необходимо ставить ноги друг за&nbsp;другом. Запрещается поднимать ногу/ноги во&nbsp;время движения. Корпус водителя при движении и&nbsp;совершении манёвров должен быть параллельно рулю. Управление электротранспортом одной рукой&nbsp;&mdash; запрещено. Данные требования направлены на&nbsp;обеспечение максимальной устойчивости при движении и&nbsp;соответственно для обеспечения безопасной езды.
p.
  Электротранспорт оснащён световыми сигналами. Передние и&nbsp;задние (если они имеются) могут освещать небольшие участки дороги для объезда препятствий в&nbsp;тёмное время суток.
p.
  Максимальная и&nbsp;рекомендуемая скорость движения указаны для соответствующей категории электротранспорта. При использовании электротранспорта не&nbsp;рекомендуется превышать установленную среднюю скорость движения. Несоблюдение данных требований влечёт повышенный расход заряда аккумулятора, а&nbsp;так&nbsp;же сказывается на&nbsp;скорости торможения.
p.
  К&nbsp;идеальным условиям эксплуатации относится совокупность условий, при соблюдении которых электротранспорт может проехать максимально заявленное расстояние от&nbsp;одного полного заряда батареи. #[b Такими условиями являются]:
ul
  li.
    загруженность электротранспорта, которая складывается из&nbsp;веса водителя и&nbsp;иных вещей (к&nbsp;примеру вес портфеля). Превышение установленного максимального веса неизбежно влияет на&nbsp;уровень расхода заряда батареи и&nbsp;возможность развивать максимально заявленную скорость.
  li.
    резкое увеличение скорости/ постоянное движение на&nbsp;повышенной скорости. Несоблюдение данных требований неизбежно влияет на&nbsp;уровень расхода заряда батареи.
  li.
    движение при наличии факторов сопротивления (встречный ветер, угол наклона дороги, ровность дороги). Не&nbsp;рекомендуется использовать электротранспорт по&nbsp;дорогам с&nbsp;повышенным подъёмом, по&nbsp;неровным поверхностям, при встречном ветре.
  li.
    движение при условии надлежащим образом надутых и&nbsp;сбалансированных колёс. Использование электротранспорта при не&nbsp;соблюдении данного требования повышает нагрузку и&nbsp;сопротивление при движении.
  li.
    использование электросамовара при низких (не&nbsp;отрицательных) температурах прямо влияет на&nbsp;скорость разряда аккумулятора.
p
  b.
    Наличие при движении вышеуказанных факторов, как по&nbsp;отдельности, так и&nbsp;в&nbsp;их&nbsp;совокупности прямо пропорционально влияет на&nbsp;нагрузку двигательной системы и&nbsp;как следствие на&nbsp;энергопотребление, в&nbsp;связи с&nbsp;чем максимальная скорость и&nbsp;пробег электротранспорта может отличаться от&nbsp;заявленных продавцом или производителем.

h3.warranty-text-grey ЗАПРЕЩАЕТСЯ!
ul
  li.
    Использовать электротранспорт при низком заряде батареи (индикатор батареи будет гореть красным)
  li.
    Использовать электротранспорт при блокировке (более точную информацию проверьте в&nbsp;книжке/инструкции по&nbsp;эксплуатации)
  li.
    Использовать электротранспорт по&nbsp;дорогам угол подъёма которых превышает 15%.
  li.
    Использовать электротранспорт во&nbsp;время загорания сигнала ошибки (какие разновидности ошибок есть и&nbsp;что делать, ознакомьтесь в&nbsp;книжке/инструкции по&nbsp;эксплуатации)
  li.
    Использовать электротранспорт при перегреве (смотреть на&nbsp;индикатор)
  li.
    Использовать электротранспорт во&nbsp;время дождя или кататься по&nbsp;влажной поверхности (лужи и&nbsp;т.д.)
  li.
    Использовать электротранспорт в&nbsp;снег или кататься по&nbsp;льду.
  li.
    Мочить, мыть его под струёй воды. Это может привести к&nbsp;поломке.
  li.
    Хранить и&nbsp;использовать в&nbsp;условиях температуры 0&deg;C и&nbsp;ниже.
  li.
    Ездить по&nbsp;неровной дороге, по&nbsp;камням, песку и&nbsp;другим дефектным поверхностям для исключения попадания посторонних предметов, веществ, грязи итд.
  li.
    Прыгать с&nbsp;высоты или совершать съезд с&nbsp;бордюров, поребриков и.т.д. выше 5&nbsp;см.

h3.warranty-text-grey Правила гарантийного обслуживания
ol
  li.
    Гарантийный срок на&nbsp;приобретаемый электротранспорт составляет 12&nbsp;месяцев или установленный для определённой категории электротранспорта пробег, в&nbsp;зависимости от&nbsp;того что наступит ранее. Начало гарантийного срока исчисляется с&nbsp;момента продажи.
  li.
    За&nbsp;5&nbsp;км до&nbsp;окончания гарантийного пробега, гарантийный пробег может быть увеличен при прохождении потребителем дополнительного платного технического обслуживания электротранспорта. Вместе с&nbsp;тем двенадцати месячный гарантийный срок в&nbsp;таком порядке увеличению не&nbsp;подлежит.
  li.
    Продолжительность гарантийного срока на&nbsp;элемент питания (батарею)&nbsp;&mdash; 3&nbsp;месяца;
  li.
    На&nbsp;болты, подшипники, крепления, колёса, которые не&nbsp;являются мотором, другие механические части корпуса, люфт рулевого управления и&nbsp;складного механизма гарантия не&nbsp;распространяется&nbsp;&mdash; так как эти части электротранспорта являются расходным материалом и&nbsp;должны заменяться в&nbsp;процессе эксплуатации в&nbsp;соответствии с&nbsp;их&nbsp;износом.
  li.
    В&nbsp;течение гарантийного срока/гарантийного пробега, продавец обеспечивает бесплатный ремонт товара.
  li.
    К&nbsp;устранению недостатков не&nbsp;относятся произведённые работы по&nbsp;чистке аппарата, замене необходимых расходных материалов, фиксации и&nbsp;протяжка болтов и&nbsp;иных крепёжных элементов товара, регулировка тормозной, двигательной и&nbsp;рулевой системы.
  li.
    Гарантия действительна при наличии настоящей, правильно заполненной, сервисной книжки, в&nbsp;которой указано наименование товара, серийного номера, дата продажи и&nbsp;печати продавца.

h3.warranty-text-grey Порядок обращения потребителей за&nbsp;гарантийным обслуживанием
ol
  li.
    За&nbsp;гарантийным обслуживанием потребитель обязательном порядке должен предъявить письменное требование продавцу, указав контактную информацию, дату покупки, наименование товара и&nbsp;его серийный номер, характер и&nbsp;причины неисправности. Продавцы, консультанты или иные лица, принявшие от&nbsp;потребителя такое заявление не&nbsp;уполномочены принимать какие-либо решения по&nbsp;предъявленным требованиям. Срок рассмотрения заявления составляет 10&nbsp;дней (за&nbsp;исключением нерабочих праздничных дней).
  li.
    Потребитель имеет право обратиться в&nbsp;Сервисный центр для проведения диагностики на&nbsp;предмет причин возникновения недостатка, для предоставления акта диагностики продавцу совместно с&nbsp;заявлением о&nbsp;гарантийном обслуживании.
  li.
    Сервисный центр не&nbsp;принимает какие-либо заявления от&nbsp;потребителей, сервисный центр уполномочен исключительно на&nbsp;проведение гарантийного обслуживания, проведение диагностики/проверки качества и&nbsp;ремонта.
  li.
    Для определения причины возникновения неисправности продавец/сервисный центр имеет право провести диагностику товара.
  li.
    Доставка товара продавцу или в&nbsp;сервисный центр осуществляется силами потребителя.
  li.
    Приёмка товара оформляется актом приёма, в&nbsp;котором фиксируется причина обращения и&nbsp;возможные неисправности. Фактическая неисправность или её&nbsp;отсутствие определяется только после диагностики.
  li В&nbsp;гарантийном обслуживании потребителю будет отказано, в&nbsp;случае если в&nbsp;процессе первичного осмотра или диагностики будет установлено одно из&nbsp;нижеперечисленных нарушений правил эксплуатации:
    ul
      li.
        В&nbsp;случае несоблюдения условий эксплуатации (пользования) указанных в&nbsp;книжке эксплуатации и&nbsp;в&nbsp;данном гарантийном талоне.
      li.
        В&nbsp;случае применения (эксплуатации) пользователем товара не&nbsp;по&nbsp;назначению и/или в&nbsp;нарушение правил пользования.
      li.
        В&nbsp;случае повреждения, вызванного вследствие чрезмерного нагрева.
      li.
        В&nbsp;случае использования неоригинального адаптера для зарядки, использования адаптера в&nbsp;несоответствующей питающей (электрической) сети, а&nbsp;так&nbsp;же в&nbsp;случае когда повреждённый сетевым адаптер отремонтирован или заменённый не&nbsp;уполномоченной сервисной организацией.
      li.
        В&nbsp;случае самостоятельного вскрытия, сборки, разборки товара пользователем, следов самостоятельного ремонта, наличия сорванных (вскрытых) пломб, с&nbsp;удалённым, стёртым или изменённым серийным номером, вмешательства пользователя в&nbsp;работу электрических систем товара, а&nbsp;ровно в&nbsp;случае если аппарат, подвергался вскрытию, ремонту или модификации вне уполномоченного сервисного центра.
      li.
        В&nbsp;случае механических повреждений как внутренних, так и&nbsp;внешних, являющихся следствием неправильной эксплуатацией, транспортировкой и&nbsp;хранением.
      li.
        В&nbsp;случае наличия следов попадания жидкости, а&nbsp;ровно в&nbsp;случае использования товара под дожем, езды по&nbsp;влажной поверхности (лужи и&nbsp;так&nbsp;д.), следы катания по&nbsp;льду или снегу.
      li.
        В&nbsp;случае попадания в&nbsp;оборудования посторонних предметов, насекомых, грязи, песка и&nbsp;т.д.
      li.
        В&nbsp;случае если неисправности, вызваны перегрузкой оборудования, повлекшей вывод из&nbsp;строя электродвигателя или других узлов и&nbsp;деталей. Потемнение или обугливание изоляции проводов под воздействием высокой температуры.
  li.
    Если причина возникновения неисправности признается не&nbsp;гарантийной&nbsp;то, товар возвращается покупателю вместе с&nbsp;заключением о&nbsp;причинах отказа в&nbsp;гарантийном ремонте.
  li.
    Если случай признается гарантийным, производится бесплатный ремонт товара. Гарантийный срок продлевается на&nbsp;время нахождения товара в&nbsp;ремонте. Срок устранения недостатков товара на&nbsp;гарантийной основе составляет 45&nbsp;дней (за&nbsp;исключением нерабочих праздничных дней).
  li.
    Продавец не&nbsp;отвечает за&nbsp;прямой или косвенный ущерб, причинённый Покупателю в&nbsp;процессе эксплуатации товара, а&nbsp;так&nbsp;же за&nbsp;ущерб, вызванный невозможностью использовать товар.
