p.warranty-warn.
  Уважаемые клиенты, просим ознакомиться с&nbsp;информацией о&nbsp;правилах обращения к&nbsp;продавцу с&nbsp;претензиями относительно качества товара
p.
  Прежде всего, ставим вас в&nbsp;известность, что электротранспорт относится к&nbsp;технически сложному товару в&nbsp;соответствии с&nbsp;утверждённым Правительством РФ&nbsp;перечнем технически сложных товаров. Законодатель не&nbsp;позволяет обменивать и/или возвращать товар продавцу по&nbsp;его не&nbsp;соответствию расцветки, габаритам и&nbsp;прочим свойствам товара не&nbsp;относящихся к&nbsp;его потребительским качествам.
p.
  Убедительная просьба при покупке товара подойти к&nbsp;его выбору разумно и&nbsp;получить от&nbsp;продавца всю исчерпывающую информацию о&nbsp;товаре и&nbsp;его свойствах, в&nbsp;том числе путём пробного использования вблизи территории магазина.
p.
  В&nbsp;случае если в&nbsp;товаре проявился какой-либо недостаток, вы&nbsp;можете получить гарантийное обслуживание на&nbsp;территории сервисного центра. Информация о&nbsp;сервисном центре, который имеет право обслуживать ваш товар имеется в&nbsp;гарантийном талоне, который является неотъемлемой частью договора купли продажи. Дополнительную информацию о&nbsp;месте расположения сервисного центра уточняйте у&nbsp;продавца. Срок устранения недостатков товара на&nbsp;гарантийной основе составляет 45&nbsp;дней (за&nbsp;исключением нерабочих праздничных дней).
p.
  В&nbsp;случае если в&nbsp;процессе эксплуатации товара в&nbsp;период гарантийного срока у&nbsp;вас возникли иные проблемы, которые затруднительно решить через обращение в&nbsp;сервисный цент, вы&nbsp;имеете право обратиться в&nbsp;магазин по&nbsp;месту покупки с&nbsp;заявлением.
p.
  У&nbsp;сотрудников торговой точки имеются в&nbsp;наличии бланки заявлений. Просим вас правильно заполнить бланк претензии, разборчивым подчерком, подробно изложив обстоятельства и&nbsp;суть ваших требований. При наличии затруднений в&nbsp;заполнении настоящего бланка претензии, потребитель может обратиться за&nbsp;дополнительной помощью к&nbsp;сотруднику магазина. Вы&nbsp;не&nbsp;лишены права составить претензию в&nbsp;иной удобной для вас форме.
p.
  Просим обратить внимание что Сотрудник магазина юридических консультаций не&nbsp;даёт, не&nbsp;уполномочен разрешать ваше требование по&nbsp;существу и&nbsp;не&nbsp;имеет специальных технических познаний для определения причин наличия недостатков в&nbsp;товаре и&nbsp;тем более для их&nbsp;устранения.
p.
  В&nbsp;соответствии со&nbsp;ст.&nbsp;22&nbsp;Закона РФ&nbsp;&laquo;О&nbsp;защите прав потребителей&raquo; срок рассмотрения претензионных требований составляет 10&nbsp;дней, за&nbsp;исключением нерабочих праздничных дней.
p.
  Ставим вас в&nbsp;известность о&nbsp;необходимости по&nbsp;требованию продавца передать товар продавцу для проведения проверки качества, а&nbsp;так&nbsp;же о&nbsp;необходимости по&nbsp;требованию продавца совершить дополнительные юридически значимые действия, без которых продавец будет лишён возможности рассмотреть и/или удовлетворить требования потребителя. Злоупотребление правом недопустимо в&nbsp;силу&nbsp;ст.&nbsp;10&nbsp;ГК РФ. Срок проведения проверки качества составляет 10&nbsp;рабочий дней с&nbsp;момента передачи товара продавцу. При проведении проверки качества стороны не&nbsp;допускаются в&nbsp;производственные помещения сервисного центра. Согласно политике сервисного обслуживания, установленной, в&nbsp;том числе производителем и&nbsp;сервисным центром, к&nbsp;устранению недостатков не&nbsp;относятся произведённые работы по&nbsp;чистке аппарата, замене необходимых расходных материалов, фиксации и&nbsp;протяжка болтов и&nbsp;иных крепёжных элементов товара, регулировка тормозной, двигательной и&nbsp;рулевой системы.
