section.warranty
  .container
    .content-wrapper.content
      h2.headline Гарантийные условия
      include ./warranty-terms-section.pug

      h2.headline Информационное письмо о&nbsp;порядке урегулирования требований потребителя
      include ./warranty-info-section.pug

      address.warranty__address
        p.
          В&nbsp;случае наличия вопросов вы&nbsp;можете обратиться в&nbsp;наш Юридический отдел.

        p.
          Адрес отдела по&nbsp;урегулированию претензий: 173004&nbsp;г. В.&nbsp;Новгород ул. Тимура Фрунзе-Оловянка 17/3&nbsp;оф.&nbsp;5.
        p.
          Тел.&nbsp; #[a(href='tel:+79960670096') +7 (996) 067-00-96]
        p.
          эл. почта: #[a(href='mailto:dsmbr@gmail.com') mdsmbr@gmail.com]
