-
  var allProducts = [
    {
      type: 'Сигвеи',
      title: 'Гироскутер Smart Balance Well&nbsp;6.5 Хип-Хоп (АКВАЗАЩИТА)',
      rating: 50,
      commentCounts: 17,
      oldPrice: 5400,
      price: 4990,
      percentDiscount: 20,
      discountInRubles: 1000,
      image: '/images/products/01.jpg',
      basket: false,
      favorites: false,
      compare: false,
      reviews: 16,
      tags: [
        {
          type: 'new',
          title: 'Новинка',
        },
        {
          type: 'hit',
          title: 'Хит продаж'
        }
      ]
    },
    {
      type: 'Сигвеи',
      title: 'Гироскутер Smart Balance',
      rating: 25,
      commentCounts: 17,
      oldPrice: 5400,
      price: 13690,
      percentDiscount: 20,
      discountInRubles: 1000,
      image: '/images/products/01.jpg',
      basket: true,
      favorites: true,
      compare: true,
      tags: [],
      reviews: 6,
    },
    {
      type: 'Сигвеи',
      title: 'Гироскутер Smart Balance Premium&nbsp;10.5 Зелёный граффити',
      rating: 85,
      commentCounts: 17,
      oldPrice: 5400,
      price: 13690,
      percentDiscount: 20,
      discountInRubles: 1000,
      image: '/images/products/01.jpg',
      basket: false,
      favorites: true,
      compare: false,
      reviews: 8,
      tags: [
        {
          type: 'hit',
          title: 'Хит продаж'
        }
      ]
    },
    {
      type: 'Сигвеи',
      title: 'Гироскутер Smart Balance Well&nbsp;6.5 Хип-Хоп (АКВАЗАЩИТА)',
      rating: 35,
      commentCounts: 17,
      oldPrice: 5400,
      price: 4990,
      percentDiscount: 20,
      discountInRubles: 1000,
      image: '/images/products/01.jpg',
      basket: true,
      favorites: false,
      compare: false,
      reviews: 0,
      tags: [
        {
          type: 'new',
          title: 'Новинка',
        },
        {
          type: 'hit',
          title: 'Хит продаж'
        }
      ]
    },
    {
      type: 'Сигвеи',
      title: 'Гироскутер Smart Balance',
      rating: 95,
      commentCounts: 17,
      oldPrice: 5400,
      price: 13690,
      percentDiscount: 20,
      discountInRubles: 1000,
      image: '/images/products/01.jpg',
      basket: true,
      favorites: true,
      compare: false,
      tags: [],
      reviews: 11,
    },
    {
      type: 'Сигвеи',
      title: 'Гироскутер Smart Balance Premium&nbsp;10.5 Зелёный граффити',
      rating: 80,
      commentCounts: 17,
      oldPrice: 5400,
      price: 13690,
      percentDiscount: 20,
      discountInRubles: 1000,
      image: '/images/products/01.jpg',
      basket: false,
      favorites: false,
      compare: false,
      reviews: 1,
      tags: [
        {
          type: 'hit',
          title: 'Хит продаж'
        }
      ]
    },
    {
      type: 'Сигвеи',
      title: 'Гироскутер Smart Balance Well&nbsp;6.5 Хип-Хоп (АКВАЗАЩИТА)',
      rating: 60,
      commentCounts: 17,
      oldPrice: 5400,
      price: 4990,
      percentDiscount: 20,
      discountInRubles: 1000,
      image: '/images/products/01.jpg',
      basket: false,
      favorites: true,
      compare: true,
      reviews: 80,
      tags: [
        {
          type: 'new',
          title: 'Новинка',
        },
        {
          type: 'hit',
          title: 'Хит продаж'
        }
      ]
    },
    {
      type: 'Сигвеи',
      title: 'Гироскутер Smart Balance',
      rating: 10,
      commentCounts: 17,
      oldPrice: 5400,
      price: 13690,
      percentDiscount: 20,
      discountInRubles: 1000,
      image: '/images/products/01.jpg',
      basket: false,
      favorites: true,
      compare: true,
      reviews: 123,
      tags: [],
    },
    {
      type: 'Сигвеи',
      title: 'Гироскутер Smart Balance Premium&nbsp;10.5 Зелёный граффити',
      rating: 18,
      commentCounts: 17,
      oldPrice: 5400,
      price: 13690,
      percentDiscount: 20,
      discountInRubles: 1000,
      image: '/images/products/01.jpg',
      basket: false,
      favorites: false,
      compare: true,
      reviews: 1023,
      tags: [
        {
          type: 'hit',
          title: 'Хит продаж'
        }
      ]
    },
  ];
