extends layouts/layout.pug

append variables
  - var title = "Главная страница"
  - var currentPage = "main-page"
  - var isAuthorized = false
  - var headline = "Шаблон для верстки"

block content
  main(class=currentPage)
    include ./includes/card/sections/bestsellers.pug
    include ./includes/card/sections/new.pug
    include ./includes/card/sections/segways.pug
    include ./includes/card/sections/monowheels.pug
    include ./includes/card/sections/electric-bikes.pug
    include ./includes/news/news-section.pug
