section.about
  .container
    h2.headline О нас

    .about__wrapper

      p.about__text.
        Официальный представитель производителей эксклюзивного электротранспорта и&nbsp;Смарт-Техники, Созданная в&nbsp;2015 году компания Смарт-Техника стала одним из&nbsp;первых дистрибьютеров персонального электротранспорта в&nbsp;России и&nbsp;уже более трёх лет является официальным представителем таких производителей эксклюзивного электронного транспорта, #[b как Yamato, SmartONE, HALTEN и&nbsp;Kugoo]

      h3.about__headline Постоянно растущая и&nbsp;развивающаяся Компания

      p.about__text.
        На&nbsp;сегодняшней день Компания Смарт-Техника обладает собственным розничным магазинами в&nbsp;г. Санкт-Петербурге, официальными представительствами в&nbsp;различных районах&nbsp;г. СПб и&nbsp;Ленобласти, сетью складов в&nbsp;Петербурге, Москве и&nbsp;других крупных городах России. Мы&nbsp;постоянно растём и&nbsp;развиваемся. Доставка наших товаров осуществляется во&nbsp;все регионы Страны!

      h3.about__headline Самый большой выбор персонального электротранспорта

      p.about__text.
        Самый большой выбор персонального электротранспорта представлен в&nbsp;выставочных залах Смарт-Техника по&nbsp;адресам:

      ul.about__list
        li.about__item ул. Ленсовета 81;
        li.about__item ул. Дыбенко 23к1;
        li.about__item пр. Энгельса 113 к 2.

      p.about__text.
        Расширение ассортимента происходит стабильно раз в&nbsp;полгода, и&nbsp;вы&nbsp;всегда найдёте у&nbsp;нас самые эксклюзивные модели электронного транспорта нового поколения!
