section.advantages
  .container

    .advantages__wrapper

      h2.advantages__headline Опытный и&nbsp;высоко квалифицированный персонал

      p.advantages__text.
        В&nbsp;компании работают опытные высококвалифицированные сотрудники, всегда готовые помочь вам с&nbsp;выбором персонального транспортного средства, ответить на&nbsp;все возможные вопросы и&nbsp;научить кататься на&nbsp;выбранной вами модели

      h2.advantages__headline Возможность тест драйва

      p.advantages__text.
        Благодаря месторасположению и&nbsp;инфраструктуре, прилегающей к&nbsp;магазинам территорий, наши посетители могут перед оформлением покупки пройти тест-драйв на&nbsp;любом из&nbsp;представленных в&nbsp;зале транспортных средств.

      p.advantages__text.
        Для тест-драйва крупной техники необходима предварительная запись. Её&nbsp;можно осуществить по&nbsp;телефону: #[a.advantages__link(href='tel:+78125092343') +7 (812) 509-23-43] или #[b через консультанта в&nbsp;магазине].

      h2.advantages__headline.advantages__headline--indent Цель и&nbsp;миссия компании Смарт-Техника.рф

      p.advantages__text.
        #[b Цель компании Смарт Техника&nbsp;&mdash;] в&nbsp;2020 году стать самым крупным магазином по&nbsp;продаже персонального электротранспорта в&nbsp;Санкт-Петербурге. А&nbsp;также открывать свои филиалы во&nbsp;всех крупных городах России, что происходит уже сейчас.

      p.advantages__text.
        #[b Миссия компании Смарт Техника&nbsp;&mdash;] познакомить россиян с&nbsp;экологически чистыми видами транспорта и&nbsp;улучшить экологию Страны! Мы&nbsp;надеемся не&nbsp;просто привить нашей нации любовь к&nbsp;ЭКО-транспорту, а&nbsp;создать в&nbsp;стране новую культуру передвижения.

      b.advantages__cooperation.
        Мы&nbsp;всегда рады взаимовыгодному сотрудничеству.#[br.advantages__cooperation-br] Свои предложения отправляйте #[a.advantages__link(href='mailto:smartfamily.info@yandex.ru') smartfamily.info@yandex.ru]
