section.assortment
  .container
    h2.sr-only Ассортимент
    p.assortment__description Всегда в&nbsp;наличии большой выбор:

    ul.assortment__list
      li.assortment__item.assortment__item--hoverboards гироскутеров
      li.assortment__item.assortment__item--segways сигвеев и мини сигвеев
      li.assortment__item.assortment__item--electric-skateboards электроскейтов
      li.assortment__item.assortment__item--electric-bikes электровелосипедов
      li.assortment__item.assortment__item--electric-scooters электросамокатов, стандартных и полноприводных
      li.assortment__item.assortment__item--more и многое другое
