-
  var allNews = [
    {
      title: "Открытие нового магазина",
      description: "Разнообразный и богатый опыт говорит нам, что консультация с&nbsp;широким активом требует от нас анализа анализа существующих паттернов поведения",
      time: "05 июня 2021",
      datetime: "2021-06-05",
      image: "./images/news/01.jpg",
    },
    {
      title: "Работа в праздничные дни",
      description: "Принимая во внимание показатели успешности, социально-экономическое развитие играет определяющее значение для вывода текущих активов",
      time: "05 июня 2021",
      datetime: "2021-06-05",
      image: "./images/news/02.jpg",
    },
    {
      title: "Идейные соображения",
      description: "Идейные соображения высшего порядка, а&nbsp;также семантический разбор внешних противодействий позволяет выполнить важные задания по разработке прогресса профессионального сообщества",
      time: "05 июня 2021",
      datetime: "2021-06-05",
      image: "./images/news/03.jpg",
    },
    {
      title: "Показатели успешности социально-экономического развития",
      description: "Принимая во внимание показатели успешности, социально-экономическое развитие играет",
      time: "05 июня 2021",
      datetime: "2021-06-05",
      image: "./images/news/04.jpg",
    },
    {
      title: "Открытие нового магазина",
      description: "Разнообразный и богатый опыт говорит нам, что консультация с&nbsp;широким активом требует от нас анализа анализа существующих паттернов поведения",
      time: "05 июня 2021",
      datetime: "2021-06-05",
      image: "./images/news/01.jpg",
    },
    {
      title: "Работа в праздничные дни",
      description: "Принимая во внимание показатели успешности, социально-экономическое развитие играет определяющее значение для вывода текущих активов",
      time: "05 июня 2021",
      datetime: "2021-06-05",
      image: "./images/news/02.jpg",
    },
    {
      title: "Идейные соображения",
      description: "Идейные соображения высшего порядка, а&nbsp;также семантический разбор внешних противодействий позволяет выполнить важные задания по разработке прогресса профессионального сообщества",
      time: "05 июня 2021",
      datetime: "2021-06-05",
      image: "./images/news/03.jpg",
    },
    {
      title: "Идейные соображения",
      description: "Идейные соображения высшего порядка, а&nbsp;также семантический разбор внешних противодействий позволяет выполнить важные задания по разработке прогресса профессионального сообщества",
      time: "05 июня 2021",
      datetime: "2021-06-05",
      image: "./images/news/04.jpg",
    },
  ];
