mixin breadcrumbs-item(text, href)
  li.breadcrumbs__item
    if (href)
      a.breadcrumbs__link.breadcrumbs__link--delimiter(href=href)= text
    else
      a.breadcrumbs__link.breadcrumbs__link--no-link= text

section.breadcrumbs
  .container
    ul.breadcrumbs__list
      if currentPage === 'all-news-page'
        +breadcrumbs-item('Главная', './main.html')
        +breadcrumbs-item('Новости')
      if currentPage === 'inner-news-page'
        +breadcrumbs-item('Главная', './main.html')
        +breadcrumbs-item('Новости', './all-news.html')
        +breadcrumbs-item('Открытие нового магазина')
      if currentPage === 'about-us-page'
        +breadcrumbs-item('Главная', './main.html')
        +breadcrumbs-item('О нас')
