ul.pagination
  li.pagination__item
    a.pagination__link.pagination__link--before
    span.sr-only Перейти на предыдущую страницу
  li.pagination__item
    a.pagination__link.pagination__link--active(href='#')
      span.sr-only Перейти на страницу
      | 1
  li.pagination__item
    a.pagination__link(href='#')
      span.sr-only Перейти на страницу
      | 2
  li.pagination__item
    a.pagination__link(href='#')
      span.sr-only Перейти на страницу
      | 3
  li.pagination__item
    a.pagination__link.pagination__link--more
      span.pagination__dots
      span.pagination__dots
      span.pagination__dots
  li.pagination__item
    a.pagination__link(href='#') 245
  li.pagination__item
    a.pagination__link.pagination__link--after(href='#')
      span.sr-only Перейти на следующую страницу
