section.inner-stock
  .container
    h2.headline Скидка в&nbsp;ДЕНЬ РОЖДЕНИЯ (неделя до/после)

    .inner-stock__content.content
      div
        p.
          Приобретение Электротранспорта, Smart-Техники и&nbsp;мелкой бытовой техники влечет за&nbsp;собой большие денежные траты. Сеть магазинов Смарт-маркт предлагает покупателям широкий ассортимент товаров по&nbsp;Самым доступным ценам в&nbsp;России. Чтобы шоппинг стал наиболее выгодным, руководство компании разработало уникальную программу лояльности для Именинников.

        h3 Условия Акции:

        ol.inner-stock__list
          li.
            1. Скидку можно получить при предъявлении любого удостоверения подтверждающего, что у клиента День Рождения.
          li.
            2. Скидка действует за неделю до дня рождения включительно и неделю после дня рождения включительно
          li.
            3. Скидка составляет 10% от стоимости основного товара, н оне должна превышать номинал в 1000 рублей.
          li.
            4. Скидки не суммируются т.к. мы разрабатываем для Вас наилучшие условия для покупки Техники
          li.
            5. Если срок Менее 7 дней до Дня Рождения или более 7 дней после Дня Рождения скидка оговаривается в индивидуальном порядке и может достигать Максимальных значений

      div
        picture
          source(media='(min-width: 1160px)', srcset='/images/inner-stock/01-530w.jpg 1x, /images/inner-stock/01-530w@2x.jpg 2x')
          source(media='(min-width: 768px)', srcset='/images/inner-stock/01-728w.jpg 1x, /images/inner-stock/01-728w@2x.jpg 2x')
          img(src='/images/inner-stock/01-530w.jpg', alt='', srcset='/images/inner-stock/01-530w@2x.jpg 2x')
