include ../card-data.pug
include ../card.pug
include ../../stock/stock-data.pug
include ../../stock/stock-card.pug

- var filteredProducts = allProducts.slice(0, 4);
- var filteredStocks = [allStock[4], allStock[1]]

section.section
  .container
    h2.headline
      span.headline__text Новинки
      a.link(href='/catalog.html') Все&nbsp;товары

    ul.section__product-list
      each product in filteredProducts
        li.section__product-item
          +card(product)

    .section__stock-wrapper
      ul.stock-list
        each stock in filteredStocks
          li.stock-list__item
            +stock-card(stock)
