block variables

doctype html
html.page(lang='ru-RU', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title!= title
    link(rel='stylesheet', href='css/styles.css')
    link(rel='manifest', href='/manifest.json')
    link(rel='icon', href='/favicon.ico', sizes='any')
    link(rel='icon', href='/icon.svg', type='image/svg+xml')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
  body.page__body
    h1.sr-only= headline
    .wrapper
      include ../includes/header.pug
      block content
      include ../includes/footer.pug
    block modals
    block scripts
      script(src='js/vendor.js')
      script(src='js/index.js')
