/* Main Page */

.main-page {
  padding: 25px 0;
}

@media (min-width: 37.5em) { /* 600px */
  .main-page {
    padding: 30px 0;
  }
}

@media (min-width: 56.25em) { /* 900px */
  .main-page {
    padding: 40px 0;
  }
}
