/* Page */

.page {
  height: 100%;
  color: var(--color-text-primary);
  font-size: 100%;
  font-family: "Exo 2", sans-serif;
  line-height: 1.2;
  background-color: var(--color-primary-bg);
}

/* Page__Body */

.page__body {
  height: 100%;
  margin: 0;
}
